.home_header {
  background-color: orange;
  display: flex;
  justify-content: space-between;
  padding: 40px;  
  flex-direction: row;
}

.home_header_navbar {
  display: flex;
  gap: 50px;
}

a {
  list-style: none;
  color: black;
}

a:hover {
  scale: 1.10;
  color: white;
}
