.caixa {
  color: red;
}

a {
    color: green;
    width: 200px;
    margin-left: 50px;
  }

div {
  text-align: center;
  color: goldenrod;
  width: 350px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  padding-top: 20px;
  padding-bottom: 10px;
  border: 2px solid black;
  bottom: 50px;
}

h1 {
  font-family: Arial, Helvetica, sans-serif ;
  text-align: center;
  color: goldenrod;
  width: 250px;
  margin-left: 50px;
  margin-right: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 3px solid blue;
  bottom: 50px;
}

p {
  text-align: center;
  color: goldenrod;
  width: 350px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  padding-top: 20px;
  padding-bottom: 10px;
  border: 2px solid rgb(221, 36, 221);
  bottom: 50px;
}